/* GLOBAL */
:root {
    --blackColor: #30292F;
    --grayColor: #403B40;
    --whiteColor: #FFF8F0;
    --orangeColor: #E27812;
    --blueColor: #16ABB6;
}

/* LANDING PAGE */

body {
    background-color: var(--blackColor);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    color: var(--whiteColor);
}

.titleCard {
    background-color: var(--grayColor);
    border-radius: 20px;
    margin-top: 5%;
}

.descripCard {
    background-color: transparent;
    border: none;
    color: var(--whiteColor);
    margin: 0% 5%;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin: 0% 9%;
}

#search-input {
    border-radius: 5px;
    border-style: none;
    padding: 1%;
    background-color: var(--whiteColor);
}

.dropdownInput {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%;
}

.dropdownInput select {
    max-width: 30%;
    border-style: none;
    border-radius: 5px;
    color: var(--blackColor);
    background-color: var(--whiteColor);
}

.searchBtnLanding {
    margin: 0% 45%;
}

.searchBtnLanding button {
    background-color: var(--orangeColor);
    border-style: none;
    color: var(--whiteColor)
}

.column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    padding-top: 15px;
    background-color: var(--grayColor);
}

.footer p {
    color: var(--whiteColor);
    font-size: 15px;
}

/* SEARCH RESULT PAGE */

#resultCard {
    background-color: var(--blackColor);
    border-style: none;
    display: flex;
    justify-content: center;
    padding: 1.5%;
}

#resultCard h4 {
    color: var(--whiteColor);
    text-align: center;
    margin-bottom: 2%;
}

.resultItem {
    background-color: var(--grayColor);
    color: var(--whiteColor);
    margin: 0.5%;
    padding: 1.5%;
    min-height: 4%;
}

/* WATCHLIST PAGE */

.watchlistMain {
    margin-top: 5%;
}

.watchlistResults {
    margin: 0% 10%;
    background-color: var(--blackColor);
    border-style: none;
    padding: 1%;
}

.watchlistResults h3 {
    text-align: center;
}

.watchlistResults h3,
.watchlistResults h5,
.watchlistResults p {
    color: var(--whiteColor);
}

.watchlistResults .card {
    background-color: var(--grayColor);
    border-style: none;
    margin: 2%;
    padding: 1.5%;
}

.watchBtn {
    background-color: var(--blueColor);
    border-style: none;
    color: var(--whiteColor);
}

.removeBtn {
    background-color: var(--orangeColor);
    border-style: none;
}

#genre-input {
    overflow-y: scroll;
} 

#errorModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--blueColor);
}

.modalContent {
    background-color: var(--blueColor);
    margin: 15% auto;
    padding: 2%;
    border-style: none;
    width: 80%;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


